
bin/**
tmp/**
tmp/**/*
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.Trash-*
.idea
.glide/
.vscode/
Session.vim
.netrwhist
*~
.fuse_hidden*
.directory
.nfs*
tags

__pycache__
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.egg-info/
.installed.cfg
MANIFEST
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.test

.env
rt_sandbox
enumnamecrawlertests/lang/c/testinput/errorcode.c
enumnamecrawlertests/lang/c/testinput/errorcode.h
enumnamecrawlertests/lang/c/testinput/errorcode_test.cc

